:root{
    --main-font:"DM Sans", sans-serif;
    --title-font: "Titan One", sans-serif;
    
    --hero-header-bg:#FFB8CA;
    --mobile-menu-bg: #E17992;
    --section-bg:#FFF5F6;
    --slider-color:#FAFAFA;
    --accent-color:#D41443;
    --button-accent-color: #C7133E;
    --buton-second-accent-color:#ECEBEB;
    --label-color:#FFA5BA;
    --ice-cream-color:#FFB8CA;
    --ice-coffee-color:#F0D1A5;
    --milkshakes-color:#C2E297;
    --white-color: #FFFFFF;
    --black-color:#000000;
    --light-brown-color:#907E82;
    
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }